.general-container {
    max-width: 1050px;
    margin: 0 auto;
    height: 100%;
}

.fs-h1 {
    font-size: 65px;
    font-weight: 800;
}

.fs-h2 {
    font-size: 45px;
    font-weight: 800;
}

img.icon-size {
    max-height: 35px;
    position: relative;
    right: 30%;
}

.button-touch {
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    background-color: $Principal-Color;
}

.button-empty {
    padding: 8px 20px;
    border-radius: 5px;
    color: $Principal-Color;
    border: 1px solid $Principal-Color;
}

.principal-color {
    color: $Principal-Color;
}

.effect-color {
    padding: 1px 15px;
    border-radius: 3px;
    background-color: $Effect-Color;
}

.circle {
    padding: 13px 15px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: $Effect-Color;
}

.img-logo {
    max-height: 40px;
}
