.general-container {
    max-width: 1050px;
    margin: 0 auto;
}

.fs-h1 {
    font-size: 65px;
    font-weight: 800;
}

.button-touch {
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    background-color: $Principal-Color;
}

.button-empty {
    padding: 8px 20px;
    border-radius: 5px;
    color: $Principal-Color;
    border: 1px solid $Principal-Color;
}

.principal-color {
    color: $Principal-Color;
}

.effect-color {
    padding: 1px 15px;
    border-radius: 3px;
    background-color: $Effect-Color;
}
